html {min-width:480px; height:100%}

body {min-width:480px; height:100%; margin:0; padding:0; font:15px/25px Roboto, sans-serif; color:#81808b; background:#f6f6f6; -webkit-text-size-adjust:100%}

a {outline:none; color:#098ed4; text-decoration:none}
a:hover {color:#0cb009}

img {border:none}

h1 {font-weight:bold; font-size:25px; line-height:30px; margin:0 0 35px 0; padding:0; text-transform:uppercase; color:#5f5f68}
h2 {font-weight:bold; font-size:20px; line-height:25px; margin:50px 0 25px 0; padding:0; text-transform:uppercase; color:#5f5f68}
h1+h2 {margin-top:25px}
h3 {font-weight:bold; font-size:18px; line-height:25px; margin:50px 0 25px 0; padding:0; text-transform:uppercase; color:#5f5f68}
h2+h3 {margin-top:25px}
h4 {font-weight:bold; font-size:15px; line-height:25px; margin:50px 0 25px 0; padding:0; text-transform:uppercase; color:#5f5f68}
h3+h4 {margin-top:25px}
p {margin:25px 0; padding:0}
ul {margin:25px 0; padding:0; list-style:none}
ul li {margin:25px 0; padding:0 0 0 25px; position:relative}
ul li:before {content:""; display:block; width:7px; height:7px; background:#098ed4; position:absolute; left:4px; top:9px}
li ul li:before {background:#0cb009}
ol {margin:25px 0; padding:0; list-style:none; counter-reset:point}
ol li {margin:25px 0; padding:0 0 0 25px; position:relative}
ol li ol {counter-reset:subpoint}
ol li:before {content:counter(point)'.'; counter-increment:point 1; position:absolute; left:2px; top:0; color:#5f5f68; font-weight:bold}
li ol li:before {content:counter(point)'.'counter(subpoint); counter-increment:subpoint 1}
.wrapper table {width:100%; margin:40px 0 60px 0; border-collapse:collapse}
.wrapper th {vertical-align:top; text-align:left; font-weight:normal; font-size:11px; line-height:25px; text-transform:uppercase; padding:0 0 2px 30px; color:#0cb009}
.wrapper th:first-child {padding-left:0}
.wrapper td {vertical-align:top; text-align:left; border-top:1px solid #f2ecec; padding:12px 0 12px 30px}
.wrapper thead+tbody td {padding-top:23px; padding-bottom:26px}
.wrapper td:first-child {padding-left:0}
.wrapper tbody tr:first-child td {border-top:none}
.wrapper thead+tbody tr:first-child td {border-top:2px solid #0cb009}
.wrapper thead+tbody tr:last-child td {border-bottom:1px solid #0cb009}
.wrapper hr {height:1px; width:100%; margin:50px 0; padding:0; border:none; background:#e6e6e6}
.wrapper blockquote {font-size:20px; font-weight:300; line-height:25px; padding:5px 0 10px 27px; border-left:4px solid #0cb009; margin:40px 0 60px 0}

@media screen and (min-width:1200px) {
    .wrapper table {width:calc(100% + 30px); margin-left:-15px; margin-right:-15px}
    .wrapper thead tr:before {content:""; display:table-cell; width:15px}
    .wrapper thead tr:after {content:""; display:table-cell; width:15px}
    .wrapper tbody tr:before {content:""; display:table-cell; width:15px; border-top:1px solid #f6f6f6}
    .wrapper tbody tr:after {content:""; display:table-cell; width:15px; border-top:1px solid #f6f6f6}
    .wrapper tbody tr:first-child:before {border-top:none}
    .wrapper tbody tr:first-child:after {border-top:none}
    .wrapper tbody tr:hover {background:#fff}
    .wrapper tbody tr:hover td {border-top-color:#fff}
    .wrapper tbody tr:hover:before {border-top-color:#fff}
    .wrapper tbody tr:hover:after {border-top-color:#fff}
    .wrapper tbody tr:hover+tr td {border-top-color:#fff}
    .wrapper tbody tr:hover+tr:before {border-top-color:#fff}
    .wrapper tbody tr:hover+tr:after {border-top-color:#fff}
}

@media screen and (max-width:1199px) {
    .table-scroll-mobile {width:100%; overflow:auto}
}

.signature {margin:50px 0}
.signature:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.signature-text {float:left}
.signature-text strong {color:#5f5f68; text-transform:uppercase}
.signature-social {float:right; padding:6px 0 0 0}

.cols {margin:25px -15px}
.form-field .cols {margin-top:0; margin-bottom:0}
.cols:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.col-half {width:50%; float:left; padding:0 15px; box-sizing:border-box}
.col-third {width:33.33%; float:left; padding:0 15px; box-sizing:border-box}
.col-quarter {width:25%; float:left; padding:0 15px; box-sizing:border-box}

@media screen and (max-width:767px) {
    .col-half {width:100%}
    .col-half+.col-half {margin:25px 0}
    .col-third {width:100%}
    .col-third+.col-third {margin:25px 0}
    .col-quarter {width:100%}
    .col-quarter+.col-quarter {margin:25px 0}
}

.btn-catalogue {display:block; border-radius:0; background:url(../images/btn-catalogue.png); margin:0; padding:0; outline:none; width:189px; border:none; text-decoration:none; height:60px; box-sizing:border-box; color:#81808b; text-align:center; text-transform:uppercase; font:900 12px/60px Roboto, sans-serif; -webkit-appearance:none; cursor:pointer}
.btn-catalogue:hover {background-position:left -60px; color:#81808b}
.btn-catalogue:active {background-position:left -120px; color:#81808b}

.btn-apply {display:block; border-radius:0; background:#098ed4; margin:0; padding:0; outline:none; width:100%; border:none; text-decoration:none; height:40px; box-sizing:border-box; color:#fff; text-align:center; text-transform:uppercase; font:12px/40px Roboto, sans-serif; -webkit-appearance:none; cursor:pointer}
.btn-apply:hover {background:#0cb009; color:#fff}
.btn-apply:active {background:#1e871c; color:#fff}

.btn-submit {display:block; border-radius:0; background:#098ed4; margin:0; padding:0; outline:none; width:100%; border:none; text-decoration:none; height:50px; box-sizing:border-box; color:#fff; text-align:center; text-transform:uppercase; font:13px/50px Roboto, sans-serif; -webkit-appearance:none; cursor:pointer}
.btn-submit:hover {background:#0cb009; color:#fff}
.btn-submit:active {background:#1e871c; color:#fff}

.btn-reset {display:block; border-radius:0; background:transparent; margin:0; padding:0; outline:none; width:100%; border:2px solid #e5e4e6; text-decoration:none; height:40px; box-sizing:border-box; color:#81808b; text-align:center; text-transform:uppercase; font:11px/36px Roboto, sans-serif; -webkit-appearance:none; cursor:pointer}
.btn-reset:hover {border-color:#81808b; color:#81808b}
.btn-reset:active {border-color:#0cb009; color:#81808b}

form {margin:50px 0; padding:1px 30px 25px 30px; background:#fff}

.form-success {position:relative; text-align:center; background:#f8fdf8; border:1px solid #e5f6e5; padding:23px 30px 26px 30px; margin:25px 0}
.form-success-title {color:#0cb009; text-transform:uppercase; font-weight:bold}

.form-error {position:relative; text-align:center; background:#fffafa; border:1px solid #fde9e9; padding:23px 30px 26px 30px; margin:25px 0}
.form-error-title {color:#f53d20; text-transform:uppercase; font-weight:bold}

.form-row {margin:25px 0}
.form-label {font-size:12px; font-weight:bold; color:#5f5f68; text-transform:uppercase; padding:0 0 1px 0}
.form-label span {color:#c1c1d5}
.error .form-label {color:#f53d20}
.form-field {position:relative}
.form-field:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

.form-input {position:relative}
.form-input+.form-input {margin:20px 0 0 0}

@media screen and (max-width:767px) {
    .form-input+.form-input {margin:25px 0 0 0}
}

.form-input {position:relative}

.form-input input,
.form-input textarea {border:2px solid #e6e6e6; font:15px/25px Roboto, sans-serif; color:#81808b; vertical-align:top; margin:0; padding:10px 18px 11px 18px; width:100%; height:50px; box-sizing:border-box; outline:none; border-radius:0; background:#fff; -webkit-appearance:none}
.form-input textarea {height:auto; resize:none; overflow:auto}
.form-input input::-webkit-input-placeholder {opacity:1; color:#c6c6ca}
.form-input input::-moz-placeholder {opacity:1; color:#c6c6ca}
.form-input input:-ms-input-placeholder {opacity:1; color:#c6c6ca}
.form-input textarea::-webkit-input-placeholder {opacity:1; color:#c6c6ca}
.form-input textarea::-moz-placeholder {opacity:1; color:#c6c6ca}
.form-input textarea:-ms-input-placeholder {opacity:1; color:#c6c6ca}
.form-input input:hover,
.form-input textarea:hover {border-color:#81808b}
.form-input input.error,
.form-input textarea.error {border-color:#f53d20}
.form-input input.valid,
.form-input textarea.valid {border-color:#0cb009}
.form-input input:focus,
.form-input textarea:focus {border-color:#81808b}

.form-hint {position:absolute; right:0; top:-26px; font-size:12px; opacity:.5}
label.error {padding:0; color:#f53d20}

::-ms-clear {display:none}

.form-file-input {float:left; width:170px; height:46px; background:#faf9fc; border:2px solid #faf9fc; text-align:center; position:relative; overflow:hidden; line-height:46px; cursor:pointer; font-size:11px; text-transform:uppercase}
.form-file-input input {height:200px; position:absolute; top:0; right:0; opacity:0; cursor:pointer; font-size:200px; background:url(../images/blank.gif); -webkit-appearance:none}
.error .form-file-input {border-color:#f53d20}
.form-file-input label.error {display:none !important}
.form-file-name {margin:0 0 0 190px; padding:11px 0 0 0; opacity:.5}

.form-select select {border:2px solid #e6e6e6; font:15px/25px Roboto, sans-serif; color:#81808b; vertical-align:top; margin:0; padding:10px 18px 11px 18px; width:100%; height:50px; box-sizing:border-box; outline:none; border-radius:0; background:#fff; -webkit-appearance:none}
.form-select label.error {display:none !important}

.form-checkbox {margin:12px 0}
.form-checkbox:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.form-checkbox label {float:left; margin:0; cursor:pointer; position:relative; padding:0 0 0 30px}
.form-checkbox input {display:none}
.form-checkbox span {display:block; position:absolute; left:0; top:4px; width:15px; height:15px; border:1px solid #e6e6e6; background:url(../images/checkbox.png) no-repeat -999px -999px; border-radius:3px}
.form-checkbox label:hover span {border-color:#81808b}
.form-checkbox label input:checked+span,
.form-checkbox label input:checked+label+span {background-position:center; background-color:#098ed4; border-color:#098ed4}
.form-checkbox.error span {border-color:#f53d20}
.form-checkbox label.error {display:none !important}
.form-checkbox strong {font-weight:normal; color:#c6c6ca}
.form-checkbox label input:checked+span+strong,
.form-checkbox label input:checked+label+span+strong {color:#81808b}

.form-radio {margin:12px 0}
.form-radio:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.form-radio label {float:left; margin:0; cursor:pointer; position:relative; padding:0 0 0 30px}
.form-radio input {display:none}
.form-radio span {display:block; position:absolute; left:0; top:4px; width:15px; height:15px; border:1px solid #e6e6e6; border-radius:9px}
.form-radio label:hover span {border-color:#81808b}
.form-radio input:checked+span,
.form-radio input:checked+label+span {width:5px; height:5px; border:6px solid #098ed4}
.form-radio strong {font-weight:normal; color:#c6c6ca}
.form-radio label input:checked+span+strong,
.form-radio label input:checked+label+span+strong {color:#81808b}

.form-submit {margin:50px 0 0 0; width:240px}

.pager {font-size:0; line-height:0; letter-spacing:-1px; text-align:center; margin:35px 0; position:relative}
.pager a,
.pager span {display:inline-block; vertical-align:top; width:40px; height:40px; margin:0 5px; text-align:center; color:#81808b; font-size:12px; line-height:40px; font-weight:bold; letter-spacing:0; text-decoration:none; background:#fff; box-shadow:0 1px 1px rgba(0, 0, 0, .07)}
.pager span:after {content:""; display:inline-block; vertical-align:middle; width:16px; height:4px; background:url(../images/pager.png)}
.pager a:hover {color:#0cb009}
.pager a.active {background:#0cb009; color:#fff}
.pager a.pager-all {position:absolute; right:0; top:0; width:166px; text-transform:uppercase}

.wrapper {min-width:480px; width:100%; min-height:100%; position:relative; overflow:hidden}
.wrapper-inner {padding:0 0 450px 0}

header {padding:33px 0 32px 0; background:#fff}

.logo {float:left; line-height:0}

.header-text {float:left; padding:0 0 0 148px}

.header-phone {font-size:16px; font-weight:bold; padding:6px 0 0 0}
.header-phone a {text-decoration:none; color:#81808b}
.header-schedule {font-size:12px; color:#6a7277; opacity:.7; margin:-4px 0 0 0}

.header-cart {float:right; margin:18px 16px 0 0}
.header-cart-value {display:block; width:23px; height:20px; background:url(../images/header-cart.png); position:relative; text-decoration:none}
.header-cart-value span {display:block; position:absolute; right:-15px; top:-14px; color:#fff; width:19px; height:19px; background:#0cb009; border-radius:50%; text-align:center; font-size:12px; line-height:19px}

.header-compare {float:right; margin:21px 27px 0 0; width:20px; height:16px; background:url(../images/header-compare.png); position:relative}
.header-compare span {display:block; position:absolute; right:-15px; top:-17px; color:#fff; width:19px; height:19px; background:#0cb009; border-radius:50%; text-align:center; font-size:12px; line-height:19px}

.header-search {float:right; margin:8px 114px 0 0; padding:0}
.header-search form {margin:0; padding:0; width:270px; height:42px; background:#fafafa; position:relative}
.header-search .form-input {margin:0 60px 0 0}
.header-search .form-input input {border:none; height:42px; padding-left:13px; padding-right:0; line-height:42px; border:none; background:transparent}
.header-search .form-submit {position:absolute; right:13px; top:11px; margin:0; width:auto}
.header-search .form-submit input {width:21px; height:21px; background:url(../images/header-search.png); margin:0; padding:0; outline:none; vertical-align:top; border:none; border-radius:0; -webkit-appearance:none; cursor:pointer}

.nav {height:50px; background:#098ed4}

.menu-add {float:left; position:relative; margin:18px 0 0 0}
.menu-add-link {display:block; width:20px; height:14px; background:url(../images/menu-add-link.png)}

.menu {float:right; font-weight:bold; text-transform:uppercase; line-height:50px; letter-spacing:1px}
.menu ul {margin:0}
.menu ul li {float:left; margin:0; padding:0 0 0 36px}
.menu ul li:before {display:none}
.menu ul li:first-child {padding:0}
.menu ul li a {float:left; color:#fff; text-decoration:none; position:relative; height:50px}
.menu ul li a:hover {color:#fff}
.menu ul li a:hover:after,
.menu ul li.active a:after {content:""; display:block; height:6px; position:absolute; left:0; bottom:0; right:0; background:#f6f6f6}

.breadcrumbs {font-size:11px; text-transform:uppercase; padding:23px 0 0 0}
.breadcrumbs span {display:inline-block; vertical-align:middle; width:9px; height:7px; background:url(../images/breadcrumbs.png); margin:-2px 9px 0 9px}

.container {max-width:1170px; margin:0 auto; padding:0 15px}
.container:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

@media screen and (max-width:1199px) {
    .container {padding-left:40px; padding-right:40px}
}

@media screen and (max-width:767px) {
    .container {padding-left:25px; padding-right:25px}
}

.side {float:left; width:270px; padding:27px 0 0 0}

.side-menu {background:#f0f0f1; box-shadow:0 1px 1px rgba(0, 0, 0, .07)}
.side-menu > ul {margin:0; font-size:13px; font-weight:bold; text-transform:uppercase}
.side-menu > ul > li {margin:0; padding:0; border-top:1px solid #e1e1e1}
.side-menu > ul > li:first-child {border-top:none}
.side-menu > ul > li:before {display:none}
.side-menu > ul > li.active {background:#fff}
.side-menu > ul > li > a {display:block; position:relative; padding:12px 30px; color:#81808b; text-decoration:none}
.side-menu > ul > li > a:hover {background:#fff}
.side-menu > ul > li > a > span {display:block; position:absolute; right:30px; top:50%; margin-top:-4px; width:8px; height:8px; background:url(../images/side-menu.png)}
.side-menu > ul > li.active > a > span {background-position:left -8px}
.side-menu > ul > li > ul {display:none; font-size:13px; font-weight:normal; margin:-3px 0 0 0; padding:0 33px 13px 33px; border-bottom:none; text-transform:none}
.side-menu > ul > li.active > ul {display:block}
.side-menu > ul > li > ul > li {margin:0; padding:0 0 5px 0}
.side-menu > ul > li > ul > li:before {display:none}
.side-menu > ul > li > ul > li.active {font-weight:bold}
.side-menu > ul > li > ul > li > a {color:#81808b; text-decoration:none}
.side-menu > ul > li > ul > li > a:hover,
.side-menu > ul > li > ul > li.active > a {color:#0cb009; text-decoration:none}

.bx_filter {background:#fff; box-shadow:0 1px 1px rgba(0, 0, 0, .07); margin:30px 0 0 0}
.bx_filter form {margin:0; padding:0; background:none}
.bx_filter_title {display:none}
.bx_filter_block {opacity:1 !important; height:auto !important}
.bx_filter_parameters_box_title {text-transform:uppercase; font-size:13px; font-weight:bold; letter-spacing:1px; margin-bottom:-3px}
.bx_filter_parameters_box {border-top:1px solid #f6f6f6; padding:27px 30px 21px 30px; position:relative}
.smartfilter > input+.bx_filter_parameters_box,
.bx_filter_parameters_box:first-child {border-top:none; padding-top:16px}
.bx_filter_parameters_box_container:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.bx_filter .bx_filter_param_label {float:left; clear:left; margin:10px 0 0 0}
.bx_filter_parameters_box_container {margin:0 -9px 0 -4px}
.bx_filter_button_box .bx_filter_parameters_box_container {margin:0}
.bx_filter .bx_filter_input_checkbox {float:left; cursor:pointer; position:relative; color:#b1b0bf}
.bx_filter .bx_filter_input_checkbox:hover {color:#098ed4}
.bx_filter .bx_filter_input_checkbox input {display:none}
.bx_filter_param_text {display:block; position:relative; padding:0 9px 0 24px; font-size:13px; line-height:20px}
.bx_filter_param_text:before {content:""; display:block; position:absolute; left:4px; top:5px; width:9px; height:9px; border:1px solid #ccced1; border-radius:2px; background:url(../images/filter-checkbox.png) no-repeat -999px -999px}
.bx_filter .bx_filter_input_checkbox:hover .bx_filter_param_text:before {border-color:#098ed4}
.bx_filter .bx_filter_input_checkbox input:checked+.bx_filter_param_text {color:#fff; background:#098ed4; border-radius:2px}
.bx_filter .bx_filter_input_checkbox input:checked+.bx_filter_param_text:before {background-position:center; border-color:#098ed4}

.bx_filter .bx_filter_popup_result {left:100%; margin-left:-33px}
.bx_filter .bx_filter_popup_result {padding-left:6px; padding-right:104px; background:url(../images/result_popup_right.png)}
.bx_filter .bx_filter_popup_result {color:#828e97; display:none; font-size:12px; text-align:center; width:270px; height:51px; box-sizing:border-box; line-height:37px; padding:6px 0 0 0; top:0; position:absolute; white-space:nowrap; z-index:10}
.bx_filter .bx_filter_popup_result br {display:none}
.bx_filter .bx_filter_popup_result a {display:block; position:absolute; right:7px; top:6px; width:97px; height:37px; font-size:11px; line-height:37px; color:#272c32; text-transform:uppercase; background:#f7ad00; text-align:center; text-decoration:none}

.bx_filter_button_box {border-top:1px solid #f6f6f6; padding:30px}

#set_filter {display:block; border-radius:0; background:#098ed4; margin:0; padding:0; outline:none; width:100%; border:none; text-decoration:none; height:40px; box-sizing:border-box; color:#fff; text-align:center; text-transform:uppercase; font:12px/40px Roboto, sans-serif; -webkit-appearance:none; cursor:pointer}
#set_filter:hover {background:#0cb009; color:#fff}
#set_filter:active {background:#1e871c; color:#fff}

#del_filter {display:block; border-radius:0; background:transparent; margin:10px 0 0 0; padding:0; outline:none; width:100%; border:2px solid #e5e4e6; text-decoration:none; height:40px; box-sizing:border-box; color:#81808b; text-align:center; text-transform:uppercase; font:11px/36px Roboto, sans-serif; -webkit-appearance:none; cursor:pointer}
#del_filter:hover {border-color:#81808b; color:#81808b}
#del_filter:active {border-color:#0cb009; color:#81808b}

.bx_ui_slider_part {display:none}
.bx_filter_parameters_box_container_block {float:left; width:68px; padding:18px 0 0 4px}
.bx_filter_parameters_box_container_block+.bx_filter_parameters_box_container_block {float:right; width:68px; padding:18px 0 0 0; margin:0 9px 0 0}
.bx_filter .bx_ft_sub {display:none}
.bx_filter_input_container input  {vertical-align:top; box-sizing:border-box; margin:0; padding:0; text-align:center; outline:none; width:100%; height:29px; border:1px solid #e5dad9; -webkit-appearance:none; color:#81808b; font:13px/27px Roboto, sans-serif; border-radius:0}
.bx_filter_input_container input:hover {border-color:#81808b}
.bx_filter_input_container input:focus {border-color:#81808b}
.bx_filter_input_container input::-webkit-input-placeholder {color:#c6c6ca; opacity:1}
.bx_filter_input_container input::-moz-placeholder {color:#c6c6ca; opacity:1}
.bx_filter_input_container input:-ms-input-placeholder {color:#c6c6ca; opacity:1}

.bx_ui_slider_track {float:left; width:calc(100% - 13px); position:relative; margin:13px 0 4px 4px; height:5px; background:#eeebf3}

.bx_filter .bx_ui_slider_pricebar_vd {background:#eeebf3}
.bx_filter .bx_ui_slider_pricebar_vn {background:#eeebf3}
.bx_filter .bx_ui_slider_pricebar_v {background:#eeebf3}
.bx_filter .bx_ui_slider_range,
.bx_filter .bx_ui_slider_pricebar,
.bx_filter .bx_ui_slider_pricebar_VD,
.bx_filter .bx_ui_slider_pricebar_VN,
.bx_filter .bx_ui_slider_pricebar_V {bottom:0; position:absolute; top:0}
.bx_ui_slider_handle {position:absolute; width:9px; height:16px; top:-6px; cursor:pointer; background:url(../images/slider.png)}
.bx_ui_slider_handle.left {margin-left:-5px; background-position:left top}
.bx_ui_slider_handle.left:hover {background-position:left -16px}
.bx_ui_slider_handle.right {margin-right:-5px; background-position:-9px top}
.bx_ui_slider_handle.right:hover {background-position:-9px -16px}

.side+.content {margin:0 0 0 300px}

.content-wrap {float:left; width:100%; padding:36px 0 0 0}

.catalogue-header:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.catalogue-header h1 {float:left; max-width:calc(100% - 270px)}

.catalogue-sort {float:right; line-height:28px; padding:2px 0 0 0}
.catalogue-sort a {float:left; text-decoration:none; margin:0 0 0 20px; height:28px; padding:0 10px; color:#81808b}
.catalogue-sort a:first-child {margin:0}
.catalogue-sort a.active {background:#fff}
.catalogue-sort a:after {content:""; display:inline-block; vertical-align:middle; width:7px; height:10px; margin:0 0 0 8px; background:url(../images/catalogue-sort.png)}
.catalogue-sort a.down:after {background-position:left top}
.catalogue-sort a.up:after {background-position:-7px top}

.catalogue-list {margin:0 -15px 30px -15px; font-size:0; line-height:0; letter-spacing:-1px}
.catalogue-item {display:inline-block; vertical-align:top; width:33.33%; padding:30px 15px 0 15px; box-sizing:border-box}
.catalogue-item:nth-child(1),
.catalogue-item:nth-child(2),
.catalogue-item:nth-child(3) {padding-top:0}
.catalogue-item-inner {background:#fff; position:relative; box-shadow:0 1px 1px rgba(0, 0, 0, .07); padding:0 0 29px 0}
.catalogue-item-photo {text-align:center; width:100%; min-height:225px; line-height:225px; position:relative; overflow:hidden}
.catalogue-item-photo img {max-width:100%; vertical-align:middle}
.catalogue-item-name {font-size:15px; font-weight:bold; line-height:20px; letter-spacing:0; text-transform:uppercase; padding:26px 30px 0 30px; text-align:center}
.catalogue-item-ctrl {margin:28px 30px 0 30px; border-top:1px solid #ebebeb}
.catalogue-item-ctrl:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.catalogue-item-price {float:left; font-size:17px; line-height:20px; letter-spacing:0; font-weight:bold; color:#0cb009; margin:26px 0 0 0}
.catalogue-item-cart {float:right; margin:27px 2px 0 0; position:relative}
.catalogue-item-cart > a {display:block; width:22px; height:18px; background:url(../images/in-cart.png)}
.catalogue-item-compare {float:right; margin:29px 21px 0 0; position:relative}
.catalogue-item-compare > a {display:block; width:14px; height:14px; background:url(../images/in-compare.png)}
.catalogue-item-event {position:absolute; left:0; top:30px; padding:0 15px; font-size:12px; line-height:30px; letter-spacing:1px; text-transform:uppercase; color:#fff}
.catalogue-item-event-hit {background:#f63939}
.catalogue-item-event-discount {background:#0cb009}
.catalogue-item-event-new {background:#ffb400}

.recommend-menu {text-align:center; margin:90px -15px 48px -15px; display:none}
.recommend-menu ul {margin:0; width:100%}
.recommend-menu ul:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.recommend-menu ul li {float:left; margin:0; width:100%; padding:0 15px; box-sizing:border-box}
.recommend-menu-2 ul li {width:50%}
.recommend-menu-3 ul li {width:33.33%}
.recommend-menu ul li:before {display:none}
.recommend-menu ul li a {display:block; text-align:center; font-weight:300; color:#c7c7c9; text-transform:uppercase; position:relative; padding:0 0 10px 0}
.recommend-menu ul li a:hover {color:#0cb009}
.recommend-menu ul li a:after {content:""; display:block; position:absolute; left:0; right:0; bottom:2px; height:1px; background:#d9d8db}
.recommend-menu ul li.active a {color:#0cb009; font-weight:bold}
.recommend-menu ul li.active a:after {background:#0cb009; height:3px; bottom:0}

.recommend-tabs {position:relative}
.recommend-tab {position:absolute; left:-9999px; top:-9999px; width:100%}
.recommend-tab.active {position:relative; left:auto; top:auto}

.recommend-tab .catalogue-list {white-space:nowrap; overflow:hidden; padding:0 0 1px 0}
.recommend-tab .catalogue-item {white-space:normal; padding-top:0}

.catalogue-text {background:#fff; padding:50px; margin:50px 0 0 0}
.catalogue-text h2 {color:#098ed4; margin:0 0 37px 0}

.catalogue-text-wrap {position:relative; max-height:125px; overflow:hidden}
.catalogue-text-wrap.open {max-height:none; margin:0 0 23px 0}
.catalogue-text-wrap.open:after {display:none}
.catalogue-text-wrap p {margin:0; padding:25px 0 0 0}
.catalogue-text-wrap p:first-child {padding:0}

.catalogue-text-more {text-transform:uppercase; display:none; margin:26px 0 0 0; font-size:13px}
.catalogue-text-wrap.hidden+.catalogue-text-more {display:block}
.catalogue-text-more a {background:url(../images/catalogue-text-more-link.png) repeat-x left bottom}
.catalogue-text-more a span {display:none}
.catalogue-text-more a span:first-child {display:inline}
.catalogue-text-wrap.open+.catalogue-text-more a span {display:inline}
.catalogue-text-wrap.open+.catalogue-text-more a span:first-child {display:none}

.product {background:#fff; margin:-9px 0 0 0; padding:0 0 50px 0}
.product:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

.product-left {float:left; width:50%; padding:0 15px 0 0; box-sizing:border-box; position:relative}
.product-left:after {content:""; display:block; width:1px; background:#f0f0f1; position:absolute; right:-16px; top:50px; bottom:0}

.product-photo-big {line-height:0; position:relative; height:0; padding:100% 0 0 0; overflow:hidden}
.product-photo-big-inner {position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; overflow:hidden}
.product-photo-big-inner a {position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; overflow:hidden}
.product-photo-big-inner a:after {content:""; display:block; width:48px; height:48px; position:absolute; left:0; top:0; background:url(../images/zoom.png)}
.product-photo-big img {vertical-align:middle; max-width:100%; max-height:100%}

.product-photo-preview {margin:15px -15px; font-size:0; line-height:0; letter-spacing:-1px}
.product-photo-preview ul {margin:0; text-align:center}
.product-photo-preview ul li {margin:0; padding:15px; display:inline-block; vertical-align:top; width:70px}
.product-photo-preview ul li:before {display:none}
.product-photo-preview ul li a {display:block; width:70px; height:70px; position:relative; overflow:hidden; text-align:center; line-height:70px}
.product-photo-preview ul li a:after {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; border:1px solid #f2ecec}
.product-photo-preview ul li a:hover:after {border-color:#0cb009}
.product-photo-preview ul li.active a:after {border-width:2px; border-color:#0cb009}
.product-photo-preview ul li img {max-width:100%; vertical-align:middle}

.product-right {float:right; width:50%; position:relative; padding:26px 100px 0 115px; box-sizing:border-box}
.product-right:after {content:""; display:block; width:1px; background:#f0f0f1; position:absolute; left:15px; top:50px; bottom:0}

.product-right h1 {font-size:33px; line-height:38px; text-transform:none; margin-top:18px}
.product-right .catalogue-item-event {left:auto; right:100%; margin-right:-16px; z-index:2; top:51px; padding:0 20px; line-height:33px}

.product-info {margin:43px 0 0 0; padding:0}
.product-info:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.product-info dt {float:left; clear:left; width:150px; margin:0; padding:0; opacity:.5}
.product-info dd {margin:0 0 0 150px; padding:0}

.product-price {padding:47px 0 0 0}
.product-price:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.product-price-value {float:left; font-size:34px; line-height:34px; color:#0cb009; font-weight:bold}
.product-price-available {float:left; margin:5px 0 0 30px; padding:0 0 0 23px; color:#00a824; font-size:13px; background:url(../images/product-price-available.png) no-repeat left 6px}

.product-order form {margin:46px 0 0 0; padding:0; background:none}
.product-order form:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.product-order .form-field {float:left; display:block; width:100px}
.product-order .btn-submit {float:left; margin:0 0 0 30px; width:240px; background:#0cb009; font-size:15px; font-weight:300; letter-spacing:1px}
.product-order .btn-reset {float:left; width:100%; margin:25px 0 0 0; height:50px; line-height:46px; font-size:12px; font-weight:300; letter-spacing:1px}

.product-links {position:relative; margin:58px 0 0 0}
.product-links:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.product-links a {font-size:11px; text-transform:uppercase; text-decoration:none; font-weight:bold; color:#81808b}
.product-links a:hover {color:#098ed4}
.product-link-compare {float:left; position:relative}
.product-link-compare > a {display:block; padding:0 0 0 26px; position:relative; color:#0cb009}
.product-link-compare.active > a {color:#098ed4}
.product-link-compare > a:before {content:""; display:block; width:16px; height:14px; background:url(../images/product-in-compare.png) no-repeat; position:absolute; left:0; top:50%; margin-top:-7px}
.product-link-compare > a:hover:before {background-position:left -14px}
.product-link-compare.active > a:before {background-position:right -14px}
.product-link-compare > a span+span {display:none}
.product-link-compare.active > a span {display:none}
.product-link-compare.active > a span+span {display:inline}
.product-link-delivery {float:right; padding:0 0 0 27px; background:url(../images/product-link-delivery.png) no-repeat left center}

.product-tabs {background:#fff; margin:25px 0 0 0}

.product-tabs-menu {border-bottom:1px solid #f6f6f6; text-transform:uppercase; font-size:0; line-height:0; letter-spacing:-1px; font-weight:bold; padding:12px 0 0 0}
.product-tabs-menu ul {margin:0; padding:0; text-align:center}
.product-tabs-menu li {margin:0; padding:0; display:inline-block; vertical-align:top; font-size:13px; line-height:25px; letter-spacing:0}
.product-tabs-menu li:before {display:none}
.product-tabs-menu li a {color:#81808b; display:block; width:200px; padding:19px 0; position:relative}
.product-tabs-menu li a:hover,
.product-tabs-menu li.active a {color:#0cb009}
.product-tabs-menu li.active a:after {content:""; display:block; position:absolute; left:0; right:0; bottom:-1px; background:#0cb009; height:9px}
.product-tabs-menu-prev,
.product-tabs-menu-next {display:none}

.product-tab-content {display:none; padding:24px 100px 40px 100px}
.product-tab-content.active {display:block}

.content-video {margin:50px 0; position:relative; padding:56.25% 0 0 0; height:0}
.content-video iframe {position:absolute; left:0; top:0; width:100%; height:100%}

.content-social {margin:25px 0}

.main-recommend .catalogue-item {width:25%}
.main-recommend .recommend-menu ul {max-width:900px; margin:0 auto}

.recommend-link {padding:38px 0 96px 0}
.recommend-link .btn-catalogue {margin:0 auto}

.slider {position:relative; margin:25px 0}
.slider-content {font-size:0; line-height:0; letter-spacing:-1px; width:100%; white-space:nowrap}
.slider-item {display:inline-block; vertical-align:top; width:1200px; white-space:normal}
.slider-item-inner {background:#fff; margin:0 15px; height:525px; position:relative; overflow:hidden; padding:0 570px 0 100px}
.slider-item-img {position:absolute; right:0; top:0; line-height:0}
.slider-item-title {color:#098ed4; font-weight:bold; font-size:46px; line-height:50px; letter-spacing:0; padding:58px 0 0 0}
.slider-item-text {font-size:20px; line-height:25px; letter-spacing:0; font-weight:300; padding:39px 0 0 0}
.slider-item-list {font-size:15px; line-height:25px; letter-spacing:0; padding:27px 0 0 0}
.slider-item-list ul {margin:0}
.slider-item-list li {margin:0; padding:0}
.slider-item-list li:before {display:none}
.slider-item-list a {color:#81808b; text-decoration:underline}
.slider-item-list a:hover {text-decoration:none}
.slider-ctrl {position:absolute; left:50%; bottom:75px; margin:0 0 0 -485px; font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap}
.slider-ctrl a {float:left; width:47px; height:3px; background:#e1e1e2; margin:0 0 0 3px}
.slider-ctrl a:first-child {margin:0}
.slider-ctrl a span {display:block; width:0; height:3px; background:#0cb009}

.main-sections {position:relative; margin:25px 0}
.main-sections-inner:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.main-sections-item {float:left; display:table; width:390px}
.main-sections-item-01 {background:#6cd86b}
.main-sections-item-02 {background:#ffcc01}
.main-sections-item-03 {background:#ffa224}
.main-sections-item-04 {background:#e487d8; width:66.66%}
.main-sections-item-05 {background:#699fff}
.main-sections-item-06 {background:#78e1fe}
.main-sections-item-07 {background:#7b72d3}
.main-sections-item-08 {background:#0bab09; float:right}
.main-sections-item-09 {background:#ffd201}
.main-sections-item-10 {background:#f97878}
.main-sections-item-inner {display:table-cell; vertical-align:middle; height:250px; padding:0 190px 0 30px; position:relative}
.main-sections-item-08 .main-sections-item-inner {height:500px; vertical-align:top}
.main-sections-item-img {position:absolute; line-height:0; right:37px; top:0; height:250px; line-height:250px}
.main-sections-item-img img {vertical-align:middle}
.main-sections-item-04 .main-sections-item-img {right:78px; top:auto; bottom:0; line-height:0; height:auto}
.main-sections-item-06 .main-sections-item-img {right:23px}
.main-sections-item-08 .main-sections-item-img {right:0; line-height:0; height:500px}
.main-sections-item-09 .main-sections-item-img {right:15px}
.main-sections-item-10 .main-sections-item-img {right:0}
.main-sections-item-title {font-size:18px; font-weight:900; color:#fff; text-transform:uppercase; letter-spacing:1px; position:relative}
.main-sections-item-08 .main-sections-item-title {padding:52px 0 0 0}
.main-sections-item-title a {color:#fff}
.main-sections-item-title a:hover {text-decoration:underline}
.main-sections-item-inner ul {margin:5px 0 0 0; color:#fff; position:relative; line-height:15px}
.main-sections-item-inner li {margin:0; padding:10px 0 0 0}
.main-sections-item-inner li:before {display:none}
.main-sections-item-inner a {color:#fff}
.main-sections-item-inner a:hover {text-decoration:underline}

.brands {background:#fff; padding:74px 0 75px 0}
.brands h3 {text-align:center; margin:0}

.brands-list {font-size:0; line-height:0; letter-spacing:-1px; margin:25px -15px 0 -15px; position:relative}
.brands-list-inner {position:relative; width:100%; white-space:nowrap}
.brands-list-col {display:inline-block; vertical-align:top; width:25%}
.brands-list-item {margin:26px 15px 0 15px; border:1px solid #e6e6e6; height:98px; line-height:98px; text-align:center}
.brands-list-item img {display:inline-block !important; vertical-align:middle; max-width:100%; max-height:100%}
.brands-list .slick-prev,
.brands-list .slick-next {display:block; position:absolute; top:-57px; width:38px; height:38px; border:1px solid #e7e7e7; border-radius:50%; background:none; margin:0; padding:0; -webkit-appearance:none; cursor:pointer}
.brands-list .slick-prev {right:50px}
.brands-list .slick-next {right:0}
.brands-list .slick-prev:before,
.brands-list .slick-next:before {content:""; display:block; width:9px; height:15px; background:url(../images/brands-arrow.png); position:absolute; left:50%; top:50%; margin:-8px 0 0 -5px}
.brands-list .slick-next:before {background-position:-9px top; margin-left:-4px}

.prefs {padding:99px 0 101px 0}
.prefs h3 {text-align:center; margin:0}
.prefs-list {margin:50px -15px 0 -15px}
.prefs-list:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.prefs-item {float:left; width:33.33%; padding:0 15px; box-sizing:border-box}
.prefs-item-inner {background:#fff no-repeat left center; padding:36px 45px 0 100px; height:114px}
.prefs-item-1 .prefs-item-inner {background-image:url(../images/pref-1.png)}
.prefs-item-2 .prefs-item-inner {background-image:url(../images/pref-2.png)}
.prefs-item-3 .prefs-item-inner {background-image:url(../images/pref-3.png)}
.prefs-item-inner strong {color:#5f5f68; text-transform:uppercase}

.responses {background:#f0f0f1; padding:99px 0 101px 0}
.responses h3 {text-align:center; margin:0}
.responses-list {margin:51px -15px 0 -15px}
.responses-item {padding:0 15px}
.responses-item a {display:block; height:500px; text-align:center; line-height:500px; position:relative; overflow:hidden; width:100%; background:#fff}
.responses-item a:after {content:""; display:block; width:48px; height:48px; position:absolute; right:0; top:0; background:url(../images/zoom-2.png)}
.responses-item a img {display:inline-block !important; vertical-align:middle; max-width:100%; max-height:100%}
.responses-item-title {text-align:center; font-size:12px; line-height:20px; letter-spacing:0; color:#a5a4b2; padding:27px 0 0 0; position:relative}
.responses-item-title:before {content:""; display:block; position:absolute; left:50%; top:0; margin:0 0 0 -10px; width:0; height:0; border-top:10px solid #fff; border-left:10px solid transparent; border-right:10px solid transparent}
.responses-item-title strong {display:block; font-size:15px; font-weight:bold; color:#81808b}
.responses .slick-dots {text-align:center; font-size:0; line-height:0; letter-spacing:-1px; margin:0; padding:53px 0 0 0}
.responses .slick-dots li {margin:0 0 0 5px; padding:0; display:inline-block; vertical-align:top}
.responses .slick-dots li:before {display:none}
.responses .slick-dots li:first-child {margin:0}
.responses .slick-dots li button {display:block; width:47px; height:3px; border-radius:0; border:none; background:#e1e1e2; margin:0; padding:0; outline:none; -webkit-appearance:none; cursor:pointer; font-size:0; line-height:0; text-indent:100px}
.responses .slick-dots li.slick-active button {background:#0cb009}

.articles {background:#fff; padding:99px 0 10px 0}
.articles h3 {text-align:center; margin:0}
.articles-inner {padding:72px 100px}
.articles-inner:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.articles-item {float:left; width:50%; box-sizing:border-box; position:relative}
.articles-item:after {content:""; display:block; width:1px; position:absolute; top:4px; bottom:-6px; background:#eceff0}
.articles-item:nth-child(1) {padding:0 115px 0 0}
.articles-item:nth-child(1):after {right:-1px}
.articles-item:nth-child(2) {padding:0 0 0 115px}
.articles-item:nth-child(2):after {left:0}
.articles-item-title {font-weight:bold; font-size:20px}
.articles-item-anonce {padding:27px 0 0 0}
.articles-item-detail {font-weight:bold; font-size:12px; text-transform:uppercase; padding:26px 0 0 0}
.articles-item-detail a {color:#ccc}
.articles-item-detail a:hover {color:#0cb009}
.articles .btn-catalogue {background-position:left -180px}
.articles .btn-catalogue:hover {background-position:left -60px}
.articles .btn-catalogue:active {background-position:left -120px}

.main-map {margin:0 0 -50px 0; position:relative}
.main-map #map {height:725px}

.map-detail {position:absolute; width:310px; background:#fff; padding:30px 30px 42px 30px; top:90px; right:50%; margin-right:-585px; line-height:20px}
.map-detail-photo {line-height:0; margin:0 0 27px 0}
.map-detail-photo img {width:100%}
.map-detail h4 {font-size:12px; line-height:20px; color:#0cb009; font-weight:900; margin:32px 0 -11px 0}
.map-detail p {margin:20px 0 0 0}

@media screen and (max-width:1199px) {
    .map-detail {display:none}
}

.search-ctrl {margin:50px 0}
h1+.search-ctrl {margin:30px 0 13px 0}
.search-ctrl:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.search-results-form {float:left; display:table; width:770px; margin:0; padding:0; background:none}
.search-results-form .form-row {display:table-cell; vertical-align:top; margin:0}
.search-results-form .form-field {display:block}
.search-results-form .form-input input {border-color:#fff; box-shadow:0 1px 1px rgba(0, 0, 0, .07)}
.search-results-form label.error {display:none !important}
.search-results-form .form-submit {display:table-cell; margin:0; vertical-align:top; padding:0 0 0 10px; width:auto}

.search-ctrl .pager {float:right; margin:0}
.search-ctrl .pager a,
.search-ctrl .pager span {height:50px; line-height:50px}

.search-result {border-bottom:1px solid #e6e6e6; padding:36px 0 37px 0}
.search-result a {text-decoration:underline}
.search-result-section {text-transform:uppercase; font-weight:bold}
.search-result-date {font-size:12px; padding:26px 0 0 0}
.search-result-path {font-size:12px}

footer {background:#fff; height:400px; margin:-400px 0 0 0; position:relative; min-width:480px; width:100%; overflow:hidden}

.footer-contacts {float:left; width:400px}
.footer-logo {line-height:0; padding:44px 0 0 0}
.footer-contacts dl {margin:0; padding:32px 0 0 0}
.footer-contacts dl:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.footer-contacts dt {float:left; clear:left; margin:0; padding:12px 0 0 0; width:130px}
.footer-contacts dd {margin:0 0 0 130px; padding:12px 0 0 0}

.footer-menu {float:right}
.footer-menu-catalogue {float:left; width:470px; padding:0 30px 0 0}
.footer-menu-nav {float:left; width:170px}
.footer-menu-title {font-weight:bold; text-transform:uppercase; color:#0cb009; padding:48px 0 0 0}
.footer-menu ul {margin:0; padding:1px 0 0 0; list-style:none}
.footer-menu-catalogue ul {float:left; width:170px}
.footer-menu-catalogue ul+ul {width:200px; padding-left:30px}
.footer-menu ul li {margin:12px 0 0 0; padding:0}
.footer-menu ul li:before {display:none}

.footer-side {float:left; width:270px; padding:59px 0 0 0}

.bottom {position:absolute; left:0; bottom:0; right:0; height:75px; background:#f6f6f6; line-height:75px}
.copyrights {float:left}
.developer {float:right}